.vs/
*.user

dev/CSLModernMapModCs2/bin/
dev/CSLModernMapModCs2/obj/
dev/CSLModernMapModCs2/Library/
dev/CSLModernMapModCs2/UI/node_modules/
dev/CSLModernMapModCs2/UI/build/

__pycache__/
*.pyc
*.log

